
body {
  height: 100vh;
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    overflow-x: hidden;
}

.wrapper {
  /* max-width: 100%; */
  min-height: 100%;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}


header {
    padding: 10px 30px;
    background-color: rgba(2, 38, 53, 0.7);
   /* grid-area: 1/1/2/3; */
}

/* main {
  grid-area: 2/1/8/3;
} */

header h1 {
  display: flex;
  justify-content: center;
    font-size: 40px;
    font-weight: 800;
    text-shadow: -5px -5px 5px rgb(112, 214, 255);
    color: rgba(112, 214, 255. 0.4);
}

footer {
 /* position: absolute;
 bottom: 0; */
 /* grid-area: 8/1/9/3; */
 width: 100%;
 margin-top: auto;
    height: auto;
    padding: 20px;
    background-color: rgba(2, 38, 53, 0.4);
}

.link__item {
  text-decoration: none;
  width: 150px;
  height: 50px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}

.link__text,
.copyright {
  font-size: 24px;
  color: rgb(112, 214, 255);
}

.link__text {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.link__text:hover {
  text-shadow: 2px 3px 4px white;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
